body {
    align-items: center;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    font-family: Inconsolata, Monaco, "Courier New", monospace;
    padding: 2em;
    margin: 2vw auto;
    max-width: 768px;
}

header {
    flex: auto;
    width: 100%;
}

h1, h2 {
    font-weight: normal;
}

aside {
    flex: 1;
    min-width: 320px;
    text-align: center;
}

article {
    flex: 2;
}

article p {
    margin: 1vw 0;
}

a:link, a:visited {
    color: dodgerblue;
}

footer {
    flex: auto;
    text-align: center;
    width: 100%;
}

.profile-drawing {
    max-height: 200px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
